<a href="{{basePath}}albums/{{id}}"><img src="{{art}}"></img></a>
<div class="caption">
  <a href="{{basePath}}albums/{{id}}"><p class="description">{{name}}</p></a>
  <p class="description"><i class="icon-user"/> {{artist}}</p>
  <p class="description">Tracks: {{tracks}} - {{length}}</p>
  <div class="center">
    <button class="btn btn-small btn-success"><i class="icon-play-circle"></i> Play</button>
    <button class="btn btn-small btn-info"><i class="icon-plus-sign"></i> Add</button>
  </div>
</div>