<img src="{{art}}" ></img>
<div class="caption">
  <h5>{{name}}</h5>
  <h5>By: {{artist}}</h5>
  <h5>Tracks: {{tracks}} - {{length}}</h5>
  <button class="btn btn-small btn-success"><i class="icon-play-circle"></i> Play</button>
  <button class="btn btn-small btn-info"><i class="icon-plus-sign"></i> Add</button>
</div>