<div class="page-header">
  <h1>{{name}}</h1>
</div>
<div class="span3">
  <div class="pin">
    <img src="{{art}}"></img>
    <div class="caption">
      <p class="description"><i class="icon-user"/> {{artist}}</p>
      <p class="description">Tracks: {{tracks}} - {{secondsToMinutes length}}</p>
      <div class="center">
        <button class="btn btn-small btn-success play"><i class="icon-play-circle"></i> Play</button>
        <button class="btn btn-small btn-info add"><i class="icon-plus-sign"></i> Add</button>
      </div>
    </div>
  </div>
</div>
<div class="span8">
  <table class="table table-condensed table-bordered table-striped">
    <thead>
      <tr>
        <th style="width: 1px;"></th>
        <th style="width: 1px;">#</th>
        <th class="span4">Title</th>
        <th class="span1">Length</th>
      </tr>
    </thead>
    <tbody>
      {{#each songs}}
      <tr data-track="{{id}}">
        <td>
          <a class="link pointer play"><i class="icon-play-circle"></i></a>
          <a class="link pointer add"><i class="icon-plus-sign"></i></a>
        </td>
        <td>{{track}}</td>
        <td>{{title}}</td>
        <td>{{secondsToMinutes length}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
