<td>
  <a class="link pointer play"><i class="icon-play-circle"></i></a>
  <a class="link pointer add"><i class="icon-plus-sign"></i></a>
</td>
<td>{{title}}</td>
<td>{{length}}</td>
<td>{{artist}}</td>
<td>{{album}}</td>
<td>{{genre}}</td>
